<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Monitoreo</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
        </ol>
    </div>


    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">

                    <div class="col-3 text-right mt-3">
                        
                    </div>

                    <div class="col-sm-3 text-right mt-3">
                        <h5 style="text-align: center;">Buscar fecha de documento desde:</h5>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-sm-3 justify-content-center mt-3">
                        <h5 style="text-align: center;">Buscar fecha de documento hasta:</h5>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <hr class="mt-4">
                <div class="mt-5">
                    <div>
                        <h3 style="text-align: center;">Ventas Totales del Año</h3>
                    </div>
                </div>

                <div id="line-chart-tooltips" class="ct-chart ct-golden-section chartlist-chart"></div>

                <div class="mt-5">
                    <div>
                        <h3 style="text-align: center;">Ventas Totales Clientes</h3>
                    </div>
                </div>


                <div id="simple-pie" class="ct-chart ct-golden-section simple-pie-chart-chartist chartlist-chart"></div>

            </div>
        </div>
    </div>
</div>


    

