<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Carga Masiva</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Carga de Documentos</a></li>            
        </ol>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-row">  
                        <div class="col-sm-12 mt-2 mt-sm-2">
                            <app-listado-busqueda></app-listado-busqueda> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-row">  
                        <div class="col-sm-3 mt-2 mt-sm-2">            
                            <button type="button" class="btn btn-rounded btn-primary col-sm-10">
                                <span class="btn-icon-left text-primary">
                                    <i class="fa fa-cloud-download"></i>
                                </span>Modelo de Ayuda
                            </button>
                        </div>
                        <div class="col-sm-3 mt-2 mt-sm-2">

                            <button type="button" class="btn btn-rounded btn-secondary col-sm-10">
                                <span class="btn-icon-left text-secondary">
                                    <i class="fa fa-cloud-download"></i>
                                </span>Descargar Plantilla
                            </button>                           
                        </div>
                        <div class="col-sm-3 mt-2 mt-sm-2">

                            <button type="button" class="btn btn-rounded btn-success col-sm-10">
                                <span class="btn-icon-left text-success">
                                    <i class="fa fa-cloud-upload"></i>
                                </span>Subir Archivo
                            </button>                           
                        </div>
                        
                        <div class="col-sm-3 mt-2 mt-sm-2">

                            <button type="button" class="btn btn-rounded btn-info col-sm-10">
                                <span class="btn-icon-left text-info">
                                    <i class="fa fa-cloud-upload"></i>
                                </span>Cargar Documento
                            </button>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista</h4>
                     
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead class="thead-info">
                            <tr>
                                <th scope="col">Tipo Documento</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Documento Referencia</th>
                                <th scope="col">Fecha del Documento</th>
                                <th scope="col">Consultar Estado</th>
                                <th scope="col">Dar de Baja</th>
                                <th scope="col">Reporte</th>
                                <th scope="col">Enviar a email</th>
                                <th scope="col">CPE</th>
                                <th scope="col">CDR</th>
                                <th scope="col">Archivo</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>a</th>
                                <td>b</td>
                                <td>c</td>
                                <td>08/08/2021</td>
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-secondary shadow btn-xs sharp"><i class="fa fa-eye"></i></a>                                    
                                    </div>
                                </td>
                                <th>
                                    <div class="d-flex">
                                        <a class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>                                    
                                    </div>
                                </th>
                                <td>d</td>
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-success shadow btn-xs sharp"><i class="fa fa-envelope"></i></a>                                    
                                    </div>
                                </td>
                                <td>e</td>
                                <td>f</td>

                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary shadow btn-xs sharp mr-1" ><i class="fa fa-file"></i></a>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>